* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    overflow: hidden;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 20vh 65vh 15vh;
}

header {
    margin: 15px 130px;
    padding: 20px;
    border: black 1px solid;
    border-radius: 35px;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#player1 {
    grid-column: 1/2;
    grid-row: 2/3
}

main {
    grid-column: 2/3;
    grid-row: 2/3;
}

.flexbox {
    display: flex;
}
.hidden {
    display: none;
}

#startScreen {
    flex-flow: row;
    margin: 12.5%;
}

#startScreen > .player {
    margin: 0 15px;
    border: 1px black solid;
    border-radius: 10px;
    width: 180px;
    height: 300px;

}

#gameScreen {
    flex-flow: row wrap;
    margin: 12.5%;
    width: 420px;
}

#gameScreen > div {
    border: 1px black solid;
    background-color: white;
    width: 60px;
    height: 60px;
}

footer {
    border: black 1px solid;
    text-align: center;
    grid-column: 1/4;
    grid-row: 3/4;
}